.guild-avatar {
    margin-top: 10px;
    border-radius: 50px;
    filter: grayscale(100%);
}
.guilds {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
}
.temp-box {
    border: 8px solid cornflowerblue;
    width: 300px;
    border-radius: 50px;
    margin: 100px;
    text-align: center;
    box-shadow: 10px 10px black;
} 